{% extends "global/pages/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "legends/css/character-sheet.css" %}">
    <script src="{% static "legends/js/stats-bar.js" %}"></script>
    <script src="{% static "legends/js/dice-roller.js" %}"></script>
{% endblock style %}

{% block title %}{{ character.name }} | Legends{% endblock title %}

{% block content %}
    <h2 class="character-sheet-name">{{ character.name }}</h2>
    {% if character.title %}
        <h5 class="character-sheet-title">{{ character.title }}</h5>
    {% endif %}
    <div class="character-sheet-container">
        {% include "legends/partials/character-sheet-header.html" %}
        {% include "legends/partials/character-sheet-stats.html" %}
        {% include "legends/partials/character-sheet-habilities.html" %}
        <div class="character-sheet-equipment">
            <h2>EQUIPAMENTO</h2>
            <div class="equipment-container">
                <div class="weapons-container">
                    <h3>Armas</h3>
                    <div class="weapons-grid">
                        {% include "legends/partials/character-sheet-weapon-card-header.html" %}
                        {% for weapon in char_weapons %}
                            {% include "legends/partials/character-sheet-weapon-card.html" %}
                        {% endfor %}
                        <div class="weapon-add">
                            <form action="{% url "legends:character_weapon_create" character.id %}" method="POST">
                                {% csrf_token %}
                                <button class="weapon-create-button"><i class="fa-solid fa-plus"></i> Adicionar Arma</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="equiped-container">
                    <div class="armor-container">
                        <h3>Armadura</h3>
                    </div>
                    <div class="talismans-container">
                        <h3>Talismãs</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

