{% extends "global/pages/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "legends/css/character-sheet.css" %}">
    <script src="{% static "legends/js/stats-bar.js" %}"></script>
    <script src="{% static "legends/js/dice-roller.js" %}"></script>
{% endblock style %}

{% block title %}{{ character.name }} | Legends{% endblock title %}

{% block content %}
    <h2 class="character-sheet-name">{{ character.name }}{% if character.title %}, {{ character.title }}{% endif %}</h2>
    <div class="character-sheet-container">
        <div class="character-sheet-header">
            <div class="character-sheet-ilustration">
                {% include "legends/partials/character-sheet-ilustration.html" %}
            </div>
            <div class="character-sheet-points">
                <div class="character-sheet-attributes">
                    {% for attr in char_attrs %}
                        {% include "legends/partials/character-sheet-attribute-card.html" %}
                    {% endfor %}
                </div>
                <div class="character-sheet-expertises">
                    {% include "legends/partials/character-sheet-expertises.html" %}
                </div>
            </div>
        </div>
        {% include "legends/partials/character-sheet-stats.html" %}
        <div class="habilities">
            <div class="current-habilities">
                <h3>Habilidades</h3>
                <div class="habilities-grid">
                    {% for skill in character.skills.all %}
                        <ul><li><a href="{% url "legends:skill" skill.id %}">{{ skill.name }}</a></li></ul>
                    {% endfor %}
                </div>
            </div>
            <div class="edit-habilities">
                <h3>Editar</h3>
                <form action="{% url "legends:character_edit_skills" character.id %}" method="post">
                    {% csrf_token %}
                    <div class="habilities-container">
                        {% for field in skills_form %}
                            {{ field }}
                        {% endfor %}
                    </div>
                    <button type="submit">Atualizar</button>
                </form>   
            </div>
        </div>
    </div>
{% endblock content %}

