<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "global/partials/head.html" %}
    {% block style %}{% endblock style %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include "global/partials/header.html" %}

    <main class="main-container">
        <div class="menu-container">
            {% comment %} Mudar depois para não ficar hard-coded {% endcomment %}
            <div class="menu-system">
                <a href="" class="menu-redirect">Início</a>
                <a href="{% url "legends:character_list" %}" class="menu-redirect">Personagens</a>
                <a href="{% url "legends:race_list" %}" class="menu-redirect">Raças</a>
                <a href="" class="menu-redirect">Criaturas</a>
                <a href="" class="menu-redirect">Skills</a>
                <a href={% url "legends:spell_list" %} class="menu-redirect">Spells</a>
                <a href="" class="menu-redirect">Itens</a>
            </div>
        </div>
        <div class="content-container">
            {% block content %}{% endblock content %}
        </div>
    </main>

    {% comment %} {% include "global/partials/footer.html" %} {% endcomment %}
</body>
</html>