<div class="character-sheet-ilustration">
    {% if character.ilustration.url and character.editor == request.user %}
        <div class="character-sheet-ilustration-content">
            <a href="{% url "legends:character_edit_image" character.id %}">
                <img src="{{ character.ilustration.url }}" alt="">
            </a>
        </div>
    {% elif character.editor == request.user %}
        <div class="character-sheet-ilustration-content no-image">
            <a href="{% url "legends:character_edit_image" character.id %}">
                <p>Nenhuma imagem encontrada!</p>
                <p>Clique aqui para adicionar uma ilustração para {{ character.name }}.</p>
            </a>
        </div>
    {% else %}
        <div class="character-sheet-ilustration-content">
            <img src="{{ character.ilustration.url }}" alt="">
        </div>
    {% endif %}
</div>