<div class="character-card">
    <a href="">
        <div class="character-ilustration">
            <img src="{{ character.ilustration.url }}" alt="">
        </div>
        <div class="character-name">
            <h3>{{ character.name }}</h3>
            {% if character.title %}
                <h4>{{ character.title }}</h4>
            {% endif %}
        </div>
    </a>
    <div class="character-info">
        <div class="character-race">
            <a href="">{{ character.race.name }}</a>
        </div>
        <div class="character-class">
            <a href="">{{ character.specialization.name }}</a>
        </div>
    </div>
    <div class="character-ownership">
        <div class="character-creation">
            Criado em {{ character.createdAt }}
        </div>
        <div class="character-creator">
            por <a href="">{{ character.creator.username }}</a>
        </div>
    </div>  
</div>