<div class="weapon-card-header">
    <div class="weapon-card-name">
        Nome
    </div>
    <div class="weapon-card-weapon-type">
        Tipo de arma
    </div>
    <div class="weapon-card-modifier">
        Modificador
    </div>
    <div class="weapon-card-combat-range">
        Alcance de combate
    </div>
    <div class="weapon-card-shot-range">
        Alcance de disparo
    </div>
    <div class="weapon-card-attack">
        Rolagem de ataque
    </div>
    <div class="weapon-card-damage">
        Rolagem de dano
    </div>
    <div class="weapon-card-damage-type">
        Tipo de dano
    </div>
    <div class="weapon-card-weight">
        Peso
    </div>
    <div class="weapon-card-delete">
        Excluir
    </div>
</div>